@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap");
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
.content {
  background: linear-gradient(to top, #8e9eab, #eef2f3);
  display: grid;
  justify-items: center;
  grid-template-rows: 15vh auto;
}

.topHeader {
  position: sticky;
  top: 10px;
  z-index: 1000;
  background-color: #1b1b1b;
  width: 86vw;
  max-height: 15vh;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
  margin: 2vh;
  display: grid;
  grid-template-columns: 2fr 10fr;
  align-content: center;
  justify-items: center;
}

.bi-collection-play-fill {
  font-size: 2.5rem;
  color: rgb(255, 208, 0);
  display: inline-block;
}
.navMenu {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 7fr 5fr;
}
.itemMenu {
  padding: 0;
  list-style: none;
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-content: center;
}
.itemMenu li {
  display: inline-block;
}
.itemMenu li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 208, 0);
}
.itemMenu li a:hover {
  text-shadow: 0px 0px 5px rgb(255, 174, 0);
}
.topSearchBox {
  margin: 10px;
}
.aboutDiv {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1001;
  background-color: #000000bb;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutDivShow {
  width: 80vw;
  min-height: 60vh;
  background-color: #202020;
  box-shadow: 0px 0px 25px #424242;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 10% 1fr;
}
.aboutDivClose {
  position: relative;
  left: 95%;
  top: 5%;
}
.close-btn {
  margin-top: 8px;
  padding: 0 5px;
  font-size: 20px;
}
.aboutDivImg {
  width: 70%;
  justify-self: center;
}
.aboutDivText {
  color: black;
  background-color: whitesmoke;
  width: 95%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  justify-self: center;
}
.hidden {
  display: none;
}
.mainWeb {
  background-color: #373838;
  width: 86vw;
  min-height: 20vh;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(30rem, 1fr));
  place-items: center;
  column-gap: 15px;
  padding-top: 20px;
}
/* #shop-item */
.shop-item {
  /* width: 19rem; */
  max-width: 20rem;
  min-width: 18rem;
  max-height: 32rem;
  min-height: 30rem;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: rgb(43, 43, 43);
  border-radius: 10px;
}
/* #shop-item-image */
.shop-item-image {
  box-shadow: 0px 0px 10px 3px black;
  width: 17rem;
  height: 14rem;
}
.imgHover {
  text-align: center;
  position: relative;
  perspective: 500px;
}
.imgDetails {
  width: 80%;
  height: 70%;
  padding: 5% 8%;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(90deg);
  transform-origin: 50%;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  transition: all 0.4s ease-in;
}
.imgHover:hover .imgDetails {
  transform: translate(-50%, -50%) rotateY(0deg);
  opacity: 1;
}
/* #shop-item-caption */
.shop-item-caption {
  color: white;
  margin: 0px 20px 0px 20px;
  direction: rtl;
  text-align: center;
  align-self: flex-start;
}
/* #shop-item-image-score */
.airdate {
  top: 100%;
  left: 75%;
}
.score {
  top: 100%;
  left: 25%;
}
.score-badge {
  color: rgb(255, 193, 7);
}
/* start #shop-item-button */
.btn-item-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.btn-item-shop {
  margin: 1px;
  min-width: 2rem;
  min-height: 2rem;
  position: relative;
  left: 2rem;
  overflow: hidden;
  transition: all 0.15s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.btn-item-shop:hover .btn-item-one {
  top: 2rem;
}
.btn-item-shop:hover .btn-item-two {
  top: 10%;
}
/* like button */
.btn-item-like {
  margin: 1px;
  min-width: 2rem;
  min-height: 2rem;
  position: relative;
  overflow: hidden;
  transition: all 0.15s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.btn-item-like:hover .btn-item-one {
  top: 2rem;
}
.btn-item-like:hover .btn-item-two {
  top: 10%;
}

.btn-item-one {
  display: block;
  position: absolute;
  top: 0.1rem;
  transition: all 0.15s ease-in-out;
}
.btn-item-two {
  display: block;
  position: absolute;
  top: -2rem;
  transition: all 0.15s ease-in-out;
}

.btn-left-about {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-bottom: 5px;
  height: 1.8rem;
  width: 2.5rem;
  visibility: hidden;
  text-align: center;
}
.btn-item-shop:hover + .btn-left-about {
  animation-name: leftmove;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  position: relative;
  visibility: visible;
}
@keyframes leftmove {
  0% {
    left: -10px;
  }
  100% {
    left: -40px;
  }
}
.btn-right-about {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 2px;
  position: relative;
  left: -36px;
  height: 1.8rem;
  width: 2.5rem;
  visibility: hidden;
  text-align: center;
}
.btn-item-like:hover + .btn-right-about {
  animation-name: rightmove;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  visibility: visible;
}
@keyframes rightmove {
  0% {
    left: -32px;
  }
  100% {
    left: -1px;
  }
}

.bottomFooter {
  background-color: #1b1b1b;
  width: 86vw;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
  margin: 2vh;
  display: grid;
  grid-template-columns: 6fr 3fr 3fr;
  column-gap: 10px;
}
.footerAbute {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 208, 0);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.footerMenu {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 208, 0);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerMenu ul {
  list-style: none;
  padding: 0;
}
.footerMenu a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.footerMenu a:hover {
  color: whitesmoke;
  text-shadow: 0px 0px 10px black;
}
.footerIcon {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 208, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerIcon a {
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
  margin: 10px;
}
.footerIcon a:hover {
  color: whitesmoke;
  text-shadow: 0px 0px 10px black;
}
